<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			EugeneQuest!
		</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/">EugeneQuest</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/exercise">Exercise</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/food">Food</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/cbt">CBT</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/trello">Todos</a>
					</li>
					<li class = "nav-item dropdown">
						<span class="nav-link dropdown-toggle" id=navbarDropwdown" data-toggle="dropdown">
							Reports
						</span>
						<div class="dropdown-menu">

							<a class="dropdown-item" href="/goals">Goals</a>
							<a class="dropdown-item" href="/shop">Shop</a>
							<a class="dropdown-item" href="/bg">BG</a>
							<a class="dropdown-item" href="/boardgames">Boardgames</a>
							<a class="dropdown-item" href="/toggl">Toggl</a>
							<a class="dropdown-item" href="/Dashboard">Dashboard</a>
						</div>
					</li>
				</ul>
				<div class="navbar-text"> {{player.pointsGained | round}} / {{player.prevPointsGained | round}} &nbsp; &nbsp; </div> 
				<div class="progress" style="width: 20%; margin-top 10px">
					<div class="progress-bar"  style="width: {{player.percent()}}">  </div>
				</div>
				<div class="navbar-text">
					{{player.cash()}} - {{player.percent()}}
				</div>
			</div>
		</nav>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
