{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="col-md-7 border">
		<h2>CBT</h2>
		<form method="POST">
		{{player.negThoughts}} negative thoughts 
		<button name="neg" value="1" class="btn btn-primary">+</button> 
		<button name="neg" value="10" class="btn btn-primary">+10</button> <br />
			<label for="distortion">Cognitive distortion</label>
			<select name="distortion">
				<option></option>
				<option>All or nothing thinking</option>
				<option>Emotional Reasoning</option>
				<option>Labeling</option>
			</select>
		</form>
	</div>	
	<div class="col-md-12 border">
		<h2>ABCDE exercise</h2>
		<form method="POST">
			Activating thought: <br />
			<textarea name="A"></textarea> <br />
			Belief: <br />
			<textarea name="B"></textarea> <br />
			Consequences: <br />
			<textarea name="C"></textarea> <br />
			Disputing Thoughts: <br />
			<textarea name="D"></textarea> <br />
			Effects: <br />
			<textarea name="E"></textarea> <br />
			<button name="CBT" value="1" class="btn btn-primary">Submit form</button>
		</form>
	</div>

</div>
{% endblock %}
