{% extends "base.html" %}


{% block content %}
<div class="row">
	<div class="col-md-7 border">
		<h2>Exercises</h2>
		<table class="table table-striped">
			{% for exercise in exercises %}
			<tr class={% if exercise.rest > 4 %}table-secondary{% elif exercise.rest >= 2%}table-success{% elif exercise.rest == 1%}table-primary{% endif %}>
				<td>
					<h3>{{(exercise.reps | round(1)|string).replace('.0','')}} {{exercise.name}}</h3>
					</form>
				</td>
				<td>
					<form method="POST">
						<input type="hidden" name="exercise_id" value="{{exercise.id}}" />
						<button name="increase" value="1" class="btn btn-success">+</button>
						<button name="same" value="1" class="btn btn-primary">=</button>
						<button name="decrease" value="1" class="btn btn-warning">-</button>
					</form>
				</td>
				<td>
					{% if exercise.weight %}
					{{exercise.weight}} lbs
					{% endif %}
				</td>
				{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
