{% extends "base.html" %}


{% block content %}
<h1>Eugene Quest</h1>
<div class="row">
	<div class="col-md-7">
		<h2>Quest list</h2>
		<div class="progress">
			<div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="{{ dailies |length }}" style="width: 25%"></div>
		</div>
		</br>
		<table class="table table-striped">
			{% for daily in dailies %}
			<tr class="{% if daily.completed %}success{% endif %}">
				<td>
					<h3>{{daily.name}}</h3>
				</td>
				<td>
					<form method="POST">
						{% if daily.subtype == "BG" %}
						<label for="bg">Blood sugar: </label><input type="number" name="bg" value="1">
						<label for="insulin">Insulin: </label><input type="number" name="insulin" value="1">
						{% endif %}

						<input type="hidden" name="daily_id" value="{{daily.id}}">
						<input type="hidden" name="complete" value="1">
						<button class="btn btn-success"{% if daily.completed %} disabled="disabled"{% endif %}>Complete</button>
					</form>
					<form method="POST">
						<input type="hidden" name="daily_id" value="{{daily.id}}">
						<input type="hidden" name="delete_daily" value="1">
						<button class="btn btn-warning">Delete</button>
					</form>
				</td>
				{% endfor %}
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-7">
		<h2>Completed</h2>
		</br>
		<table class="table table-striped">
			{% for daily in completed %}
			<tr class="{% if daily.completed %}success{% endif %}">
				<td>
					<h3>{{daily.name}}</h3>
				</td>

				{% endfor %}
		</table>
	</div>
</div>
<br />
<h2>Misc</h2>
<form method="POST">
	<input type="hidden" name="reset_dailies" value="1" />
	<button>Reset dailies</button>
</form>
{% endblock %}
