{% extends "base.html" %}


{% block content %}
<h1>Eugene Quest</h1>
<div class="progress">
	<div class="progress-bar {% if stats.availableCount == stats.completedCount %}bg-success{% endif%}" role="progressbar"  aria-valuemin="0" aria-valuemax="{{ stats.availableCount }}" style="width: {{stats.completedPercent}}%">{{stats.completedCount }} / {{stats.availableCount}}</div>
	{% if stats.missedCount > 0 %}
	<div class="progress-bar bg-warning" role="progressbar"  aria-valuemin="0" aria-valuemax="{{ stats.questCount }}" style="width: {{stats.missedPercent}}%">{{stats.missedCount}}</div>
	{% endif %}
</div>
<br />

<div class="row">
	<div class="col-md-7 border">
		<h2>Quest list</h2>
		<table class="table table-striped">

			<!-- Dailies -->

			{% for daily in dailies %}
			<tr class="{% if daily.totalPoints() >= 5 %}table-success{% endif %}">
				<td>
					{% if daily.url %}
					<a href="{{daily.url}}" target="_blank">
					{% endif %}
					<h3>{{daily.name}}</h3>
					{% if daily.url %}
					</a>
					{% endif %}
				</td>
				<td>
					<form method="POST">
						{% if daily.subtype == "BG" %}
						<label for="bg">Blood sugar: </label><input type="number" name="bg" value="100" min="30" max="500" required> <br />
						<label for="insulin">Insulin: </label><input type="number" name="insulin" value=""> <br />
						{% endif %}

						{% if daily.subtype == "Weight" %}
						<label for="weight">Weight: </label><input type="number" name="weight" value="{{player.prevWeight}}" min="120" max="300" step="0.1" required > <br />
						{% endif %}
						<input type="hidden" name="daily_id" value="{{daily.id}}">
						<input type="hidden" name="complete" value="1">
						<button class="btn btn-success"{% if daily.completed %} disabled="disabled"{% endif %}>Complete</button>
						<button name="snooze_daily" value="2" class="btn btn-primary">Snooze</button>
						{{daily.totalPoints()|int}} points

					</form>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% if dailies|length == 0 %}
		<span class="text-success">Quests complete!</span>
		{% endif %}
		<br /> <br />
		{% if dailies|length == 0 %}

		<!-- Side Quests -->

		<h4>Side Quests</h4>
		<table class="table table-striped">
			{% for daily in sideQuests %}
			<tr class="{% if daily.rest <= -7%}table-danger{% elif daily.rest <= -3 %}table-warning{% elif daily.totalPoints() >= 5 %}table-success{% endif %}">
				<td>
					{% if daily.url %}
					<a href="{{daily.url}}" target="_blank">
					{% endif %}
					<h3>{{daily.name}}</h3>
					{% if daily.url %}
					</a>
					{% endif %}
				</td>
				<td>
					<form method="POST">
						<input type="hidden" name="daily_id" value="{{daily.id}}">
	
						{% if "book" in daily.name.lower() %}
						<select name="bookid">
							{% for book in books %}
							<option value="{{book.id}}">{{book.name}} - {{book.current}}</option>
							{% endfor %}
						</select>
						<input name="page" type="number" />
						{% endif %}
						<br>
						<button name="complete" value="1" class="btn btn-success">Complete</button>
						<button name="snooze_daily" value="1" class="btn btn-primary">Snooze</button>

						{{daily.totalPoints()|int}} points
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>

			{% if sideQuests|length == 0 %}
			<span class="text-success">Quests complete!</span>
			{% endif %}
		{% endif %}
	</div>
			
	<!-- Missed -->

	<div class="col-md-5 border">
		<h2 class="warning">Missed</h2>
		<br />

			{% if missed|length == 0 %}
			<span class="text-success">No missed quests.</span>
			{% endif %}

		<table class="table table-striped">
			{% for daily in missed %}
			<tr class="{% if daily.completed %}success{% endif %}">
				<td>
					<h3>{{daily.name}}</h3>
				</td>
				<td>
					<form method="POST">
						<input type="hidden" name="daily_id" value="{{daily.id}}">
						<input type="hidden" name="complete" value="1">
						<button class="btn btn-success"{% if daily.completed %} disabled="disabled"{% endif %}>Complete</button>
					</form>
				</td>
			</tr>
			{% endfor %}
		</table>


	<!-- Completed -->

	 <br /> <br /> <br />
	<h2 class="success">Completed</h2>
		<br />
		<table class="table table-striped">
			{% for daily in completed %}
			<tr class="{% if daily.completed %}success{% endif %}">
				<td>
					{{daily.name}}
				</td>
			</tr>
			{% endfor %}
		</table>	</div>
</div>
<br />
<h2>Misc</h2>
<form method="POST">
	<input type="hidden" name="reset_dailies" value="1" />
	<button>Reset dailies</button>
</form>
{% endblock %}
